In [3]:
import pandas as pd
import numpy as np

In [5]:
s = pd.Series(['A', 'B', 'C', 'Aaba','DOG','CAT'])
print(s.str.lower())
print(s.str.upper())

0       a
1       b
2       c
3    aaba
4     dog
5     cat
dtype: object
0       A
1       B
2       C
3    AABA
4     DOG
5     CAT
dtype: object

In [6]:
# counting occurrence of geeks
count = s.str.count("A")
  
# display
count

0    1
1    0
2    0
3    1
4    0
5    1
dtype: int64

In [9]:
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)
print("-------------------------------------")
print(student_data2)
print("\nJoin the said two dataframes along rows:")
result_data = pd.concat([student_data1, student_data2])
print(result_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
-------------------------------------
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

Join the said two dataframes along rows:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [7]:
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha, Preston'], 
        'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(student_data1)
print("-------------------------------------")
print(student_data2)
print("\nJoin the said two dataframes along columns:")
result_data = pd.concat([student_data1, student_data2], axis = 1)
print(result_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
-------------------------------------
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8  Madeeha, Preston    201

Join the said two dataframes along columns:
  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8  Madeeha, Preston    201

In [10]:
student_data = pd.DataFrame({
    'school': ['s002','s003','s001','s002','s004'],
    'class': ['V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Kanika Goel','Richa Jain','Ananya Jha', 'Deepika Gupta', 'Karishma Khan'],
    'date_Of_Birth ': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12, 13, 13, 14, 12],
    'height': [192, 186, 167, 151, 159],
    'weight': [32, 33, 30, 31, 32],
    'address': ['street2', 'street3', 'street1', 'street2', 'street4']},
    index=['S2', 'S3', 'S4', 'S5', 'S6'])
print(student_data)

print('\nSplit the said data on school_code wise:')
result = student_data.groupby(['school'])
for name,group in result:
    print("\nGroup:")
    print(name)
    print(group)
print("\nType of the object:")
print(type(result))

   school class           name date_Of_Birth   age  height  weight  address
S2   s002     V    Kanika Goel     17/05/2002   12     192      32  street2
S3   s003    VI     Richa Jain     16/02/1999   13     186      33  street3
S4   s001    VI     Ananya Jha     25/09/1998   13     167      30  street1
S5   s002     V  Deepika Gupta     11/05/2002   14     151      31  street2
S6   s004    VI  Karishma Khan     15/09/1997   12     159      32  street4

Split the said data on school_code wise:

Group:
s001
   school class        name date_Of_Birth   age  height  weight  address
S4   s001    VI  Ananya Jha     25/09/1998   13     167      30  street1

Group:
s002
   school class           name date_Of_Birth   age  height  weight  address
S2   s002     V    Kanika Goel     17/05/2002   12     192      32  street2
S5   s002     V  Deepika Gupta     11/05/2002   14     151      31  street2

Group:
s003
   school class        name date_Of_Birth   age  height  weight  address
S3   s003    VI  Richa Jain     16/02/1999   13     186      33  street3

Group:
s004
   school class           name date_Of_Birth   age  height  weight  address
S6   s004    VI  Karishma Khan     15/09/1997   12     159      32  street4

Type of the object:
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [15]:
student_data.to_csv('file_student.csv')

In [21]:
!pip install openpyxl
file_name = 'StudentData.xlsx'
  
# saving the excel
student_data.to_excel(file_name, sheet_name='Sheet1')
print('DataFrame is written to Excel File successfully.')

Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.0.1.tar.gz (8.4 kB)
Building wheels for collected packages: et-xmlfile
  Building wheel for et-xmlfile (setup.py): started
  Building wheel for et-xmlfile (setup.py): finished with status 'done'
  Created wheel for et-xmlfile: filename=et_xmlfile-1.0.1-py3-none-any.whl size=8913 sha256=7442da42b4dbfb6d5db81519c653544fce1ac6b6a8bfd7f681769c3023563587
  Stored in directory: c:\users\anany\appdata\local\pip\cache\wheels\bb\9b\ff\8fdf015c95a57224237bf88fbb9e45237cbe8177213bc13732
Successfully built et-xmlfile
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 openpyxl-3.0.7
WARNING: You are using pip version 20.2.3; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\python39\python.exe -m pip install --upgrade pip' command.
DataFrame is written to Excel File successfully.

In [17]:
#!pip install tables
student_data.to_hdf('student_data.h5', key='df', mode='w')

ImportError: Missing optional dependency 'tables'.  Use pip or conda to install tables.