In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
print(pd.__version__)

1.0.5

In [18]:
d = pd.Series([1,3,5,np.nan,6,8]) #Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.)

print(d)
print(np.nan) #np.nan means if something is null/ not present/null (idk maybe this is it)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
nan

date_range()

start : Left bound for generating dates.

end : Right bound for generating dates.

periods : Number of periods to generate.

freq : Frequency strings can have multiples, e.g. ‘5H’. See here for a list of frequency aliases.

tz : Time zone name for returning localized DatetimeIndex. By default, the resulting DatetimeIndex is timezone-naive.

normalize : Normalize start/end dates to midnight before generating date range.

name : Name of the resulting DatetimeIndex.

closed : Make the interval closed with respect to the given frequency to the ‘left’, ‘right’, or both sides (None, the default).

Returns: DatetimeIndex

In [19]:
dates = pd.date_range('20210101',periods=6) #return a fixed frequency DatetimeIndex
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [87]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

#np.random.randn() gives random numbers between -1 to 1. (6,4) means a matrix of that dimension

                   A         B         C         D
2021-01-01 -1.547739 -0.834650  1.241576 -1.251843
2021-01-02  1.909491  1.211720  0.247884  0.204224
2021-01-03 -1.048648  0.526206  0.071223  0.815333
2021-01-04  0.841263  1.600426  0.216198 -1.350019
2021-01-05 -1.310075 -0.645534  0.192445 -0.217712
2021-01-06 -0.657368  1.122155  1.742567 -0.102834

In [86]:
df2=pd.DataFrame({'A':1.,
                  'B':pd.Timestamp('20210102'),
                  'C':pd.Series(1,index=list(range(4)),dtype='float64'),
                  'D':np.array([3]*4,dtype='int32'),
                  'E':pd.Categorical(["test","train","test","train"]),
                  'F':'BTech VI Sem'})
df2

     A          B    C  D      E             F
0  1.0 2021-01-02  1.0  3   test  BTech VI Sem
1  1.0 2021-01-02  1.0  3  train  BTech VI Sem
2  1.0 2021-01-02  1.0  3   test  BTech VI Sem
3  1.0 2021-01-02  1.0  3  train  BTech VI Sem

In [22]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float64
D             int32
E          category
F            object
dtype: object

In [92]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
print(s)

a    0.917447
b   -0.467646
c    1.358701
d   -1.320255
e   -1.578832
dtype: float64

In [91]:
s.array

<PandasArray>
[nan, nan, 1.0, 3.0, 5.0, nan]
Length: 6, dtype: float64

In [89]:
s.index.array

<DatetimeArray>
['2021-01-01 00:00:00', '2021-01-02 00:00:00', '2021-01-03 00:00:00',
 '2021-01-04 00:00:00', '2021-01-05 00:00:00', '2021-01-06 00:00:00']
Length: 6, dtype: datetime64[ns]

In [26]:
s.to_numpy() #Series.to_numpy()

array([ 0.60223618,  1.33573985, -0.37916773, -1.68740407,  1.65897416])

In [27]:
np.asarray(s)
#numpy.asarray()function is used when we want to convert input to an array. Input can be lists, lists of tuples, tuples, tuples of tuples, tuples of lists and ndarrays

array([ 0.60223618,  1.33573985, -0.37916773, -1.68740407,  1.65897416])

In [95]:
df.columns = [x.lower() for x in df.columns]
df

                   a         b         c         d
2021-01-01 -1.547739 -0.834650  1.241576 -1.251843
2021-01-02  1.909491  1.211720  0.247884  0.204224
2021-01-03 -1.048648  0.526206  0.071223  0.815333
2021-01-04  0.841263  1.600426  0.216198 -1.350019
2021-01-05 -1.310075 -0.645534  0.192445 -0.217712
2021-01-06 -0.657368  1.122155  1.742567 -0.102834

In [96]:
df.head(2)

                   a        b         c         d
2021-01-01 -1.547739 -0.83465  1.241576 -1.251843
2021-01-02  1.909491  1.21172  0.247884  0.204224

In [97]:
df.tail(3)

                   a         b         c         d
2021-01-04  0.841263  1.600426  0.216198 -1.350019
2021-01-05 -1.310075 -0.645534  0.192445 -0.217712
2021-01-06 -0.657368  1.122155  1.742567 -0.102834

In [98]:
df.index

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [99]:
df.describe()

#The describe() function is used to generate descriptive statistics that summarize the central tendency, dispersion and shape of a dataset’s distribution, excluding NaN values

              a         b         c         d
count  6.000000  6.000000  6.000000  6.000000
mean  -0.302179  0.496721  0.618649 -0.317142
std    1.374743  1.019679  0.697422  0.842691
min   -1.547739 -0.834650  0.071223 -1.350019
25%   -1.244718 -0.352599  0.198383 -0.993310
50%   -0.853008  0.824181  0.232041 -0.160273
75%    0.466605  1.189329  0.993153  0.127459
max    1.909491  1.600426  1.742567  0.815333

In [33]:
df.shape

(6, 4)

In [100]:
df

                   a         b         c         d
2021-01-01 -1.547739 -0.834650  1.241576 -1.251843
2021-01-02  1.909491  1.211720  0.247884  0.204224
2021-01-03 -1.048648  0.526206  0.071223  0.815333
2021-01-04  0.841263  1.600426  0.216198 -1.350019
2021-01-05 -1.310075 -0.645534  0.192445 -0.217712
2021-01-06 -0.657368  1.122155  1.742567 -0.102834

In [101]:
df.T

#transpose

   2021-01-01  2021-01-02  2021-01-03  2021-01-04  2021-01-05  2021-01-06
a   -1.547739    1.909491   -1.048648    0.841263   -1.310075   -0.657368
b   -0.834650    1.211720    0.526206    1.600426   -0.645534    1.122155
c    1.241576    0.247884    0.071223    0.216198    0.192445    1.742567
d   -1.251843    0.204224    0.815333   -1.350019   -0.217712   -0.102834

In [102]:
df.sort_values(by='b')

                   a         b         c         d
2021-01-01 -1.547739 -0.834650  1.241576 -1.251843
2021-01-05 -1.310075 -0.645534  0.192445 -0.217712
2021-01-03 -1.048648  0.526206  0.071223  0.815333
2021-01-06 -0.657368  1.122155  1.742567 -0.102834
2021-01-02  1.909491  1.211720  0.247884  0.204224
2021-01-04  0.841263  1.600426  0.216198 -1.350019

In [105]:
df.sort_index(ascending=False)

#sorts according tot he index

                   a         b         c         d
2021-01-06 -0.657368  1.122155  1.742567 -0.102834
2021-01-05 -1.310075 -0.645534  0.192445 -0.217712
2021-01-04  0.841263  1.600426  0.216198 -1.350019
2021-01-03 -1.048648  0.526206  0.071223  0.815333
2021-01-02  1.909491  1.211720  0.247884  0.204224
2021-01-01 -1.547739 -0.834650  1.241576 -1.251843

In [106]:
df['a']

2021-01-01   -1.547739
2021-01-02    1.909491
2021-01-03   -1.048648
2021-01-04    0.841263
2021-01-05   -1.310075
2021-01-06   -0.657368
Freq: D, Name: a, dtype: float64

In [111]:
df[1:3]

#0,1,2,3
#1,2,3,4
#only the 1st and 2nd row got printed ie. date 2 and 3

                   a         b         c         d
2021-01-02  1.909491  1.211720  0.247884  0.204224
2021-01-03 -1.048648  0.526206  0.071223  0.815333

In [112]:
df['20210102':'20210104']

                   a         b         c         d
2021-01-02  1.909491  1.211720  0.247884  0.204224
2021-01-03 -1.048648  0.526206  0.071223  0.815333
2021-01-04  0.841263  1.600426  0.216198 -1.350019

In [113]:
df.loc[dates[0]]

a   -1.547739
b   -0.834650
c    1.241576
d   -1.251843
Name: 2021-01-01 00:00:00, dtype: float64

In [114]:
df.loc[:,['a','b']]

#access a group of rows and columns by label(s) or a boolean array in the given DataFrame.

                   a         b
2021-01-01 -1.547739 -0.834650
2021-01-02  1.909491  1.211720
2021-01-03 -1.048648  0.526206
2021-01-04  0.841263  1.600426
2021-01-05 -1.310075 -0.645534
2021-01-06 -0.657368  1.122155

In [115]:
df.loc['20210102':'20210104',['a','b']]

                   a         b
2021-01-02  1.909491  1.211720
2021-01-03 -1.048648  0.526206
2021-01-04  0.841263  1.600426

In [116]:
df.loc['20210102',['a','b']]

a    1.909491
b    1.211720
Name: 2021-01-02 00:00:00, dtype: float64

In [117]:
df.loc[dates[0],'a']

-1.5477389886092126

In [118]:
df.iloc[3]
#shows row 3 data

#Dataframe.iloc[] method is used when the index label of a data frame is something other than numeric series of 0, 1, 2, 3….n or in case the user doesn’t know the index label. Rows can be extracted using an imaginary index position which isn’t visible in the data frame.

a    0.841263
b    1.600426
c    0.216198
d   -1.350019
Name: 2021-01-04 00:00:00, dtype: float64

In [119]:
 df.iloc[3:5,0:2]

                   a         b
2021-01-04  0.841263  1.600426
2021-01-05 -1.310075 -0.645534

In [120]:
df.iloc[[1,2,4],[0,2]]

                   a         c
2021-01-02  1.909491  0.247884
2021-01-03 -1.048648  0.071223
2021-01-05 -1.310075  0.192445

In [121]:
df.iloc[:,1:3]

                   b         c
2021-01-01 -0.834650  1.241576
2021-01-02  1.211720  0.247884
2021-01-03  0.526206  0.071223
2021-01-04  1.600426  0.216198
2021-01-05 -0.645534  0.192445
2021-01-06  1.122155  1.742567

In [122]:
df.iloc[1,1]

1.2117204386053548

In [123]:
df[df.a>0]

                   a         b         c         d
2021-01-02  1.909491  1.211720  0.247884  0.204224
2021-01-04  0.841263  1.600426  0.216198 -1.350019

In [124]:
df[df.c>0]

                   a         b         c         d
2021-01-01 -1.547739 -0.834650  1.241576 -1.251843
2021-01-02  1.909491  1.211720  0.247884  0.204224
2021-01-03 -1.048648  0.526206  0.071223  0.815333
2021-01-04  0.841263  1.600426  0.216198 -1.350019
2021-01-05 -1.310075 -0.645534  0.192445 -0.217712
2021-01-06 -0.657368  1.122155  1.742567 -0.102834

In [125]:
df2=df.copy()

In [126]:
df2

                   a         b         c         d
2021-01-01 -1.547739 -0.834650  1.241576 -1.251843
2021-01-02  1.909491  1.211720  0.247884  0.204224
2021-01-03 -1.048648  0.526206  0.071223  0.815333
2021-01-04  0.841263  1.600426  0.216198 -1.350019
2021-01-05 -1.310075 -0.645534  0.192445 -0.217712
2021-01-06 -0.657368  1.122155  1.742567 -0.102834

In [127]:
df3=df
df3

                   a         b         c         d
2021-01-01 -1.547739 -0.834650  1.241576 -1.251843
2021-01-02  1.909491  1.211720  0.247884  0.204224
2021-01-03 -1.048648  0.526206  0.071223  0.815333
2021-01-04  0.841263  1.600426  0.216198 -1.350019
2021-01-05 -1.310075 -0.645534  0.192445 -0.217712
2021-01-06 -0.657368  1.122155  1.742567 -0.102834

In [128]:
df2['e']=['one','one','two','three','four','three']

In [129]:
df2

                   a         b         c         d      e
2021-01-01 -1.547739 -0.834650  1.241576 -1.251843    one
2021-01-02  1.909491  1.211720  0.247884  0.204224    one
2021-01-03 -1.048648  0.526206  0.071223  0.815333    two
2021-01-04  0.841263  1.600426  0.216198 -1.350019  three
2021-01-05 -1.310075 -0.645534  0.192445 -0.217712   four
2021-01-06 -0.657368  1.122155  1.742567 -0.102834  three

In [130]:
df2[df2['e'].isin(['two','four'])]

#Pandas isin() method is used to filter data frames. isin() method helps in selecting rows with having a particular(or Multiple) value in a particular column

                   a         b         c         d     e
2021-01-03 -1.048648  0.526206  0.071223  0.815333   two
2021-01-05 -1.310075 -0.645534  0.192445 -0.217712  four

In [131]:
s1=pd.Series([1,2,3,4,5,6],index=pd.date_range('20210102',periods=6))
s1

2021-01-02    1
2021-01-03    2
2021-01-04    3
2021-01-05    4
2021-01-06    5
2021-01-07    6
Freq: D, dtype: int64

In [134]:
df['f']=s1

#assigning values of s1 to df's f column

In [146]:
df

                   a         b         c         d    f
2021-01-01  0.192445  0.000000  1.241576 -1.251843  0.0
2021-01-02  1.909491  1.211720  0.247884  0.204224  1.0
2021-01-03 -1.048648  0.526206  0.071223  0.815333  2.0
2021-01-04  0.841263  1.600426  0.216198 -1.350019  3.0
2021-01-05 -1.310075 -0.645534  0.192445 -0.217712  4.0
2021-01-06 -0.657368  1.122155  1.742567 -0.102834  5.0

In [147]:
df.at[dates[0],'f']=0

#at[] is used to return data in a dataframe at passed location. The passed location is in the format [poition, Column Name]. This method works in a similar way to Pandas loc[ ] but at[ ] is used to return only single value and hence works faster than it.

In [148]:
df

                   a         b         c         d    f
2021-01-01  0.192445  0.000000  1.241576 -1.251843  0.0
2021-01-02  1.909491  1.211720  0.247884  0.204224  1.0
2021-01-03 -1.048648  0.526206  0.071223  0.815333  2.0
2021-01-04  0.841263  1.600426  0.216198 -1.350019  3.0
2021-01-05 -1.310075 -0.645534  0.192445 -0.217712  4.0
2021-01-06 -0.657368  1.122155  1.742567 -0.102834  5.0

In [149]:
df.iat[0,1]=0
df

                   a         b         c         d    f
2021-01-01  0.192445  0.000000  1.241576 -1.251843  0.0
2021-01-02  1.909491  1.211720  0.247884  0.204224  1.0
2021-01-03 -1.048648  0.526206  0.071223  0.815333  2.0
2021-01-04  0.841263  1.600426  0.216198 -1.350019  3.0
2021-01-05 -1.310075 -0.645534  0.192445 -0.217712  4.0
2021-01-06 -0.657368  1.122155  1.742567 -0.102834  5.0

In [150]:
df.loc[:,'d']=np.array([5]*len(df))
df

                   a         b         c  d    f
2021-01-01  0.192445  0.000000  1.241576  5  0.0
2021-01-02  1.909491  1.211720  0.247884  5  1.0
2021-01-03 -1.048648  0.526206  0.071223  5  2.0
2021-01-04  0.841263  1.600426  0.216198  5  3.0
2021-01-05 -1.310075 -0.645534  0.192445  5  4.0
2021-01-06 -0.657368  1.122155  1.742567  5  5.0

In [66]:
df1=df.reindex(index=dates[0:4],columns=list(df.columns)+['E'])

In [67]:
df1

                   a         b         c  d    f   E
2021-01-01 -0.740006  0.000000 -0.522981  5  0.0 NaN
2021-01-02  0.020446  1.018860  0.138124  5  1.0 NaN
2021-01-03  0.644938  0.581051 -0.893889  5  2.0 NaN
2021-01-04 -2.243623  1.110973 -1.556672  5  3.0 NaN

In [68]:
df1.loc[dates[0]:dates[1],'E']=1
df1

                   a         b         c  d    f    E
2021-01-01 -0.740006  0.000000 -0.522981  5  0.0  1.0
2021-01-02  0.020446  1.018860  0.138124  5  1.0  1.0
2021-01-03  0.644938  0.581051 -0.893889  5  2.0  NaN
2021-01-04 -2.243623  1.110973 -1.556672  5  3.0  NaN

In [69]:
df1.dropna(how='any')

                   a        b         c  d    f    E
2021-01-01 -0.740006  0.00000 -0.522981  5  0.0  1.0
2021-01-02  0.020446  1.01886  0.138124  5  1.0  1.0

In [70]:
df1.fillna(value=5)

                   a         b         c  d    f    E
2021-01-01 -0.740006  0.000000 -0.522981  5  0.0  1.0
2021-01-02  0.020446  1.018860  0.138124  5  1.0  1.0
2021-01-03  0.644938  0.581051 -0.893889  5  2.0  5.0
2021-01-04 -2.243623  1.110973 -1.556672  5  3.0  5.0

In [71]:
pd.isnull(df1)

                a      b      c      d      f      E
2021-01-01  False  False  False  False  False  False
2021-01-02  False  False  False  False  False  False
2021-01-03  False  False  False  False  False   True
2021-01-04  False  False  False  False  False   True

In [72]:
df.mean()

a   -0.26563
b    0.07381
c   -0.31838
d    5.00000
f    2.50000
dtype: float64

In [73]:
df.mean(1)

2021-01-01    0.747403
2021-01-02    1.435486
2021-01-03    1.466420
2021-01-04    1.062136
2021-01-05    2.256597
2021-01-06    1.419718
Freq: D, dtype: float64

In [74]:
s=pd.Series([1,3,5,np.nan,6,8],index=dates).shift(2)

In [75]:
s

2021-01-01    NaN
2021-01-02    NaN
2021-01-03    1.0
2021-01-04    3.0
2021-01-05    5.0
2021-01-06    NaN
Freq: D, dtype: float64

In [76]:
 df

                   a         b         c  d    f
2021-01-01 -0.740006  0.000000 -0.522981  5  0.0
2021-01-02  0.020446  1.018860  0.138124  5  1.0
2021-01-03  0.644938  0.581051 -0.893889  5  2.0
2021-01-04 -2.243623  1.110973 -1.556672  5  3.0
2021-01-05  1.312991  0.217583  0.752413  5  4.0
2021-01-06 -0.588528 -2.485608  0.172727  5  5.0

## Lab 10 Exercise
1. WAP using Pandas to create a series from a list, numpy array and dict
2. WAP using Pandas to convert the index of a series into a column of a dataframe
3. WAP using Pandas to combine many series to form a dataframe
4. WAP using Pandas to add, subtract, multiple and divide two Pandas Series. 
5. WAP using Pandas to compare the elements of the two Pandas Series.
6. WAP using Pandas to create a datafame as follows
    ### Name  Score    Attempts    Qualify
        Ana    45       5          no
        Priya  65       3          yes
        Charu  78       4          yes
        Suchi  12       4          no
        Richa  4        2          no
    6.1 WAP using Pandas to get the first 3 rows of a given DataFrame.

    6.2 WAP using Pandas to select the 'name' and 'score' columns from the following DataFrame.

    6.3 WAP using Pandas to select the specified columns and rows from a given data frame.

    6.4 WAP using Pandas  to select the rows the score is between 0 and 20.

    6.5 WAP using Pandas to select the rows where number of attempts in the examination is less than 4 and score     greater than 50.
    
    6.6 WAP using Pandas  to calculate the sum of the examination attempts by the students.